<h1>Benny Balla Mix!</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div>
  <label for="offense">Offense:</label>
  <input id="offense" type="radio" value="offense" name="player_type" />
  <label for="defense">Defense:</label>
  <input id="defense" type="radio" value="defense" name="player_type" />
</div>

<canvas id="court" height="450" width="600" />
